fastapi
uvicorn
python-multipart
python-dotenv
pypdf
qdrant-client
langchain-core
langchain-text-splitters
langchain-qdrant
langchain-google-genai
langchain 
langchain-community
langchain_classic
google-generativeai
huggingface_hub
sentence_transformers